*{
    font-size: 1.2rem;
    background: white;
}
body{
    background: white;
}
header, .header{
    background: rgba(182, 182, 182, 0.95);
}
nav, .nav{
    background: rgba(182, 182, 182, 0.95);
}
