* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./img/bg.jpg");
    background-repeat: repeat;
}
/*index.html*/
/*header*/
#out{
    position: absolute;
    left: -9999px;
}

header, .header{
    background-color: rgba(182, 182, 182, 0.95);
    width: 80%;
    margin: 0 auto;
}
header > nav, .header > .nav{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    text-align: center;
}

header > nav > a:first-of-type, .header > .nav > a:first-of-type{
    grid-column: 2/3;
}
header > nav > a, .header > .nav > a{
    border: none;
    background-color: inherit;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.5s;
    transition: background-color 0.5s;
}
header > nav > a:hover, .header > .nav > a:hover{
    background-color: #70DCFA;
    text-decoration: none;
    color: black;
}

header > nav > a.here, .header > .nav > a.here{
    background-color: #70DCFA;
}


/*main*/
main, .main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 0.5em;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main > div{
    padding: 1em;
}

main > div.best-game-image > figure{
    background-color: rgba(112, 220, 250, 0.7);
    box-shadow: 0.2em 0.2em 0.2em grey;
}


main > div.best-game-image > figure > img{
    height: 100%;
    width: 100%;
}

main > div.best-game-image > figure > figcaption{
    color: black;
    text-align: center;
    padding:1em;
    font-weight: bold;
}

main > div.main-title{
    grid-column: 1/3;
    text-align: center;
}

main > .welcome-text{
    grid-column: 1/3;
    text-align: justify;
    padding: 1em;
}

main > .top-games > table{
    width: 100%;
    background-color: #70DCFA;
    border-collapse: collapse;
    box-shadow: 0.2em 0.2em 0.2em grey;
    border: 1px solid #555; 
    text-align: center;
}

main > .top-games > table tr td{
    border: 1px solid #444;
}

main > .top-games > table > caption{
    margin-bottom: 1em;
    font-size: 1.5em;
}

main > .top-games > table tr th{
    border: 1px solid #444; 
}

main > .top-games > table.small-table{
    display: none;
}
main > .top-games > table a{
    color: black;
    text-decoration: underline;
}
main > .top-games > table a:visited{
    color: #555;
}
/*footer*/
footer, .footer{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    text-shadow: 0.5px 0.5px 0.5px grey;
    padding: 1em;
    box-sizing: border-box;
}
footer > a, .footer > a{
    color: black;
}
footer > a:visited, .footer > a:visited{
    color: #555;
}

/*onegame.html*/
/*main*/
main > div.important-data{
    grid-column: 1/3;
    
}
main > div.game-video a{
    color: black;
}
main > div.game-video a:visited{
    color: #555;
}
main > div.main-title a{
    color: black;
}
main > div.main-title a:visited{
    color: #555;
}
main > div.important-data ul{
    padding: 1em;
}
main > div.pros_cons-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main > div.pros_cons-wrapper ul{
    padding: 1em;
}
main > div.game-video video{
    width:100%;
    height: auto;
}
main > .about, main > .opinion{
    text-align: justify;
    padding: 1em;
}

/*gamelist.html*/
/*table*/
.main > table{
    width: 100%;
    background-color: #70DCFA;
    border-collapse: collapse;
    box-shadow: 0.2em 0.2em 0.2em grey;
    border: 1px solid #555; 
    text-align: center;
    grid-column: 1/3;
    margin-top: 2em;
}

.main > table tr td{
    border: 1px solid #444;
    padding: 1em 0;
}

.main > table caption{
    margin-bottom: 1em;
    font-size: 1.5em;
    
}

.main table tr th{
    border: 1px solid #444; 
    padding: 1em 0;
}
.main > table.small-table{
    display: none;
}
.main > table a{
    color: black;
}
.main > table a:visited{
    color: #555;
}

/*formpage.html*/
/*form*/
.form-container{
    grid-column: 1/4;
    text-align: center;
}
.form-container > form > input{
    margin-bottom: 1em;
}

.form-container > form > input[type=submit]{
    background-color: #70DCFA;
    font-weight: bold;
    border: 1px black solid;
    padding: 0.3em;
    font-size: 1.2em;
}

.form-container > form > input[type=reset]{
    background-color: red;
    color:white;
    font-weight: bold;
    border: 1px black solid;
    padding: 0.3em;
    font-size: 1.2em;
}

.form-container > form > input[type=text]{
    padding: 0.5em;
    width:50%;
}
.form-container > form > label.question{
    font-size: 1.2em;
}

.form-container > form > textarea{
    width: 90%;
    padding: 0.5em;
}
.form-container > a{
    color: black;
}
.form-container > a:visited{
    color: #555;
}

/*video.html*/
.videotext{
    grid-column: 1/3;
    padding: 1em;
    text-align: justify;
}
.videotext > a{
    color: black;
}
.videotext > a:visited{
    color: #555;
}

/*responivity*/
@media screen and (max-width: 1400px) {
    main > .about{
        grid-column: 1/3;
    }
    main > .opinion{
        grid-column: 1/3;
    } 
}

@media screen and (max-width: 1310px) {
    header > nav, .header > .nav{
        grid-template-columns: 1fr 1fr 1fr;
    }
    header > nav > a:first-of-type, .header > .nav > a:first-of-type{
        grid-column: 1/2;
    }
}

@media screen and (max-width: 1200px) {
    
    main > div{
        grid-column: 1/3;
    } 
}

@media screen and (max-width: 900px)  {
    main > div.best-game-image{
        grid-column: 1/3;
    }
    main > .top-games{
        grid-column: 1/3;
    }
    main, .main{
        width: 80%;
    }
    .main > table.big-table{
        display: none;
    }
    .main > table.small-table{
        display: inline-table;
    }
}

@media screen and (max-width: 750px) {
    main > div.pros_cons-wrapper > div{
        grid-column: 1/3;
    }
}

@media screen and (max-width: 652px)  {
    main, .main{
        width: 100%;
    }
    footer, .footer{
        width: 100%;
    }
    header, .header{
        width: 100%;
    }
    header > nav, .header > .nav{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    main > .top-games > table.big-table{
        display: none;
    }
    main > .top-games > table.small-table{
        display: inline-table;
    }
    footer a{
        word-break: break-all;
    }
}